<!Doctype html>
<html>
  <head>
    <title>MetaCritic Predictor</title>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//code.highcharts.com/highcharts.js"></script>
    <script src="//code.highcharts.com/modules/exporting.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
    //Function to create the tweet scatter plot in the browser window
    function createChart(){
      return Highcharts.chart('chart', {
          title:{
            text: ''
          },
          chart: {
              type: 'scatter',
              zoomType: 'xy',
          },
          xAxis: {
              title: {
                  enabled: true,
                  text: 'Negative Score For Tweet'
              },
              startOnTick: true,
              endOnTick: true,
              showLastLabel: true,
              min: 0,
              max: 10
          },
          yAxis: {
              title: {
                  text: 'Positive Score for Tweet'
              },
              min: 0,
              max: 10
          },
          legend: {
              layout: 'vertical',
              align: 'left',
              verticalAlign: 'top',
              backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
              borderWidth: 1
          },
          series: [{
              name: "Net Positive Tweets",
              showInLegend: false,
              data: [],
              color: '#3333ff'
            },
            {
                name: "Net Negative Tweets",
                showInLegend: false,
                data: [],
                color: '#ff0000'
              },
              {
                  name: "Net Neutral Tweets",
                  showInLegend: false,
                  data: [],
                  color: '#000000'
                }]
      });
}
  </script>
  </head>
  <body>
    <center>
      <h1>MetaCritic Predictor</h1>
      <input id='topicInput' placeholder="Enter Topic"/>
      <input id='numTweets' placeholder="Number of Tweets"/>
      <button onclick="stream()">Get Tweets</button>
      <button onclick="stopStream()">Stop</button>
    </center>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <center><h3>Raw Tweets</h3></center>
          <div id="raw_tweets" style="overflow:auto;height:400px;">
          </div>
        </div>
        <div class="col-md-6">
          <center>
            <h3>Positive vs Negative Scores by Tweet</h3>
            <h4>(With Jitter)</h4>
          </center>
          <div id="chart">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <center>
            <h1 id="pos">0.0</h1>
            <h3>Average Positive</h3>
          </center>
        </div>
        <div class="col-md-3">
          <center>
            <h1 id="neg">0.0</h1>
            <h3>Average Negative</h3>
          </center>
        </div>
        <div class="col-md-3">
          <center>
            <h1 id="uni">100%</h1>
            <h3>Percent Unique</h3>
          </center>
        </div>
        <div class="col-md-3">
          <center>
            <h1 id="pre">0</h1>
            <h3>Predicted Score</h3>
          </center>
        </div>
      </div>
    </div>
    <script type="text/javascript" charset="utf-8">
    //Create a socket to the server
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    //Create a scatter plot chart on the screen
    var chart = createChart();
    //On connect emit connection
    socket.on('connect', function() {
        socket.emit('connection');
    });
    //When a tweet is received update the browser window with the new data
    socket.on('tweet',function(data){
      //Print tweet to the screen
      $("#raw_tweets").append("<p>"+"<span style='color:green;'>"+data['current']+") </span> "+data['rawtweet']+"</p>");
      var rawTweets = document.getElementById('raw_tweets');
      rawTweets.scrollTop = rawTweets.scrollHeight;
      //Add tweet scores to the scatter plot
      if(data['rawPos'] > data['rawNeg']){
        chart.series[0].addPoint([data['rawNeg']+(Math.random() * .45),data['rawPos']+(Math.random() * .45)]);
      }
      else if(data['rawPos'] < data['rawNeg']){
        chart.series[1].addPoint([data['rawNeg']+(Math.random() * .45),data['rawPos']+(Math.random() * .45)]);
      }
      else{
        chart.series[2].addPoint([data['rawNeg']+(Math.random() * .45),data['rawPos']+(Math.random() * .45)]);
      }
      //Format values to be printed on screen and print them
      var posScore = Math.round(100 * data['avgPos']) / 100;
      var negScore = Math.round(100 * data['avgNeg']) / 100;
      var unique = Math.round(10000 * data['unique']) / 100;
      var regression = Math.round(data["modelUnique"]*data['unique']+data['avgPos']*data["modelAvgPos"]+data['avgNeg']*data["modelAvgNeg"]+data["modelIntercept"]);
      $("#pos").text(posScore.toString());
      $("#neg").text(negScore.toString());
      $("#uni").text(unique.toString()+"%");
      $("#pre").text(regression.toString());
      //Emit okay to ask for more tweets
      socket.emit('okay');
    });
    //If the server asks the browser to ask for more tweets, ask for more tweets
    socket.on('getTweet',function(){
      socket.emit('okay');
    });
    //If the server says it is done sending tweets, log it to the console
    socket.on('done',function(){
      console.log("Finished getting tweets")
    });
    //function that is called when stream is asked to start
    function stream(){
      //Create a new plot and remove the old one
      chart = createChart();
      //Clear the current tweet list
      $('#raw_tweets').empty();
      //Emit the request for more tweets of a given topic decided by the user
      socket.emit('stream',{'topic':$('#topicInput').val(), 'numTweets':$('#numTweets').val()});
      //0 out the printed values on screen
      var posScore = Math.round(100 * 0) / 100;
      var negScore = Math.round(100 * 0) / 100;
      var unique = Math.round(10000 * 0) / 100;
      var regression = 0;
      $("#pos").text(posScore.toString());
      $("#neg").text(negScore.toString());
      $("#uni").text(unique.toString()+"%");
      $("#pre").text(regression.toString());
    }
    //If user asks to stop the stream, tell the server to stop sending tweets
    function stopStream(){
      socket.emit('stopStream');
    }
    </script>
  </body>
</html>
